<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sarah J. Sover | Articles</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- SEO tags -->
    <meta name="description"
          content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers.">
    <meta name="author" content="Studio SJS">
    <meta property="og:image" content="http://www.sarahjsover.com/images/DCTB_3.png">
    <meta property="og:url" content="http://www.sarahjsover.com"/>
    <meta property="og:site_name" content="Sarah J Sover"/>
    <meta property="og:title" content="Website of author Sarah J. Sover"/>
    <meta property="og:description"
          content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers."/>
    <!-- includes -->
    <script src="/js/jquery_3_2_1.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/montserrat.css">
    <link rel="stylesheet" media="screen" href="/css/style.css"/>
</head>
<body>
<%- include("./components/header.ejs", { page_name: "articles", page_url:'/'}); %>
<main id="articles">
    <section class="articles">
        <div class="card">
            <h1>MARCH / APRIL 2023</h1>
            <div class="cardtext">
                <img src="../images/writersdigest2023.jpg" alt="Writer's Digest" title="Writer's Digest" border="0"
                     width="100%"/>
                <p><strong>Off the Path: Tips for Writing Genre Fiction While Neurodivergent</strong><br/>
                    <em>Writer's Digest</em></p>
                <p>This article is close to my heart. In it, I discuss tips for working with your neurodivergence rather
                    than battling against it in order to get words on the page. </p>
                <button>
                    <a href="https://writersdigestshop.com/collections/writers-digest-magazines/products/writers-digest-march-april-2023-digital-edition"
                       target="_blank">Read more</a>
                </button>
            </div>
        </div>
        <div class="card">
            <h1>MAY 2022</h1>
            <div class="cardtext">
                <img src="../images/magic-systems-stronger-science.jpg" alt="Science in Sci-fi, Fact in Fantasy"
                     title="Science in Sci-fi, Fact in Fantasy" border="0" width="100%"/>
                <p><strong>Magic Systems Made Stronger With Science</strong><br/>
                    <em>Dan Koboldt’s Science in Sci-fi, Fact in Fantasy Series</em></p>`
                <p>I put my Biology degree to good use talking about how to incorporate real world science into writing
                    magic systems.
                </p>
                <button><a href="http://dankoboldt.com/magic-systems-stronger-science/" target="_blank">Read more</a>
                </button>
            </div>
        </div>
        <div class="card">
            <h1>MARCH / APRIL 2022</h1>
            <div class="cardtext">
                <img src="../images/writersdigest2022.jpg" alt="Writer's Digest" title="Writer's Digest" border="0"
                     width="100%"/>
                <p><strong>Through the Eyes of The Beast: Writing Non-human POVs</strong><br/>
                    <em>Writer's Digest</em></p>
                <p>Fantasy is wrought with non-human points of view, and I talk about some considerations to take when
                    your characters don’t suffer from the human condition.
                </p>
                <button>
                    <a href="https://writersdigestshop.com/collections/writers-digest-magazines/products/writers-digest-march-april-2022-digital-edition"
                       target="_blank">Read more</a></button>
            </div>
        </div>
        <div class="card">
            <h1>NOVEMBER / DECEMBER 2021</h1>
            <div class="cardtext">
                <img src="../images/writersdigest2021.jpg" alt="Writer's Digest" title="Writer's Digest" border="0"
                     width="100%"/>
                <p><strong>Trope: My Favorite Dirty Word</strong><br/>
                    <em>Writer's Digest</em></p>
                <p>Tropes serve a valuable purpose in genre fiction, and this article is my love letter to them! </p>
                <button>
                    <a href="https://writersdigestshop.com/collections/writers-digest-magazines/products/writers-digest-november-december-2021-digital-edition"
                       target="_blank">Read more</a>
                </button>
            </div>
        </div>
        <div class="card">
            <h1>JUNE 2019</h1>
            <div class="cardtext">
                <img src="../images/embracetheweird.jpg" alt="Writer's Digest" title="Writer's Digest" border="0"
                     width="100%"/>
                <p><strong>Why Writers Should Embrace Their Weird Side</strong><br/>
                    <em>Writer's Digest</em></p>
                <p>I bare my soul in this piece to talk about how your differences can help you find your voice.</p>
                <button><a href="https://www.writersdigest.com/be-inspired/why-writers-should-embrace-their-weird-side"
                           target="_blank">Read more</a>
                </button>
            </div>
        </div>
        <div class="card last">
            <h1>MAY 2022</h1>
            <div class="cardtext">
                <img src="../images/organic-world-building-ecology.jpg" alt="Science in Sci-fi, Fact in Fantasy"
                     title="Science in Sci-fi, Fact in Fantasy" border="0" width="100%"/>
                <p><strong>Organic Worldbuilding Through Ecology</strong><br/>
                    <em>Dan Koboldt’s Science in Sci-fi, Fact in Fantasy Series</em></p>
                <p>Putting that Biology degree to work to talk about worldbuilding.</p>
                <button><a href="http://dankoboldt.com/magic-systems-stronger-science/" target="_blank">Read more</a>
                </button>
            </div>
        </div>
    </section>
</main>
<%- include("./components/footer.ejs"); %>
</body>
<footer>
    <script type="text/javascript" src="/js/script.js"></script>
</footer>
</html>