<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers.">
    <meta name="author" content="Studio SJS">

    <title>Sarah J Sover - Books</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/title.png" />
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <%- nav %>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Books</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">Books</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="/images/ThreeTrolls.jpg" alt="">
            </div>
            <div class="col-md-5">
                <div>
                    <h3>DOUBLE-CROSSING THE BRIDGE</h3>
                </div>
                <hr>
                <div>
                    <p>Granu needs cash fast, or she’s out on her ass. Her degree in Early Trollhood Education didn’t prepare
                        her for raging young trolls in the throes of puberty, and when her students nearly fillet her for
                        lunch, Granu’s left jobless and facing eviction. Desperate to avoid a demeaning job in the tar pits,
                        she'll do anything- even listen to her adrenaline junkie best friend. And he's got the perfect plan:
                        a heist!</p>

                    <p>To successfully rob The Covered Bridge, the Fort Knox of the cavern city, they’ll need three things:
                        tactical thinking, impenetrable sun protection, and gallons of grog.</p>

                    <p>Granu finds herself the unlikely leader of an amateur criminal crew consisting of a college buddy desperate
                        to prove his trollhood, a computer guru who happens to be her awkward one-night-stand, a femme fatale
                        with a knack for manipulation, and the smooth-talking playboy troll with all the answers. It's get
                        filthy rich or turn to stone trying! There’s just one thing Granu doesn’t count on: those damn meddling
                        billy goats.</p>
                </div>
                <a href="https://www.goodreads.com/book/show/40693291-double-crossing-the-bridge" target="_blank">
                    <img src="https://s.gr-assets.com/assets/badge/goodreads-badge-read-reviews-a8508f765fac427f58da8ebf9e89721a.png" width="63px"
                        alt="logo" />
                </a>
                <hr>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <footer>
            <%- footer %>
        </footer>

    </div>
    <!-- /.container -->
    <!-- include sign up modal from components folder    -->
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/googleAnlytics.js"></script>
</body>

</html>