<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers."
    />
    <meta name="author" content="Studio SJS" />
    <meta property="og:image" content="http://www.sarahjsover.com/images/DCTB_OG.png">
    <meta property="og:url" content="http://www.sarahjsover.com" />
    <meta property="og:site_name" content="Sarah J Sover" />
    <meta property="og:title" content="Website of author Sarah J. Sover" />
    <meta property="og:description" content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers."/>
    <title>Sarah J Sover - Books</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/title.png" />
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <%- nav %>
      </div>
      <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
      <!-- Page Heading/Breadcrumbs -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Books</h1>
          <ol class="breadcrumb">
            <li>
              <a href="/">Home</a>
            </li>
            <li class="active">Books</li>
          </ol>
        </div>
      </div>
      <!-- /.row -->

      <!-- Project One -->
      <div class="row">
        <div class="col-md-5">
          <img class="img-responsive" src="/images/FGM.jpg" alt="" />
        </div>
        <div class="col-md-7">
          <div>
            <h3>FAIRY GODMURDER <i>(Releasing 03/10/2022)</i></h3>
          </div>
          <hr />
          <div>
            <p>
              Gwendolyn Evenshine thought being a fairy godmother would be cut and dried—take on a charge, solve a
              royal problem, and return to the Academy for her next assignment. But she got too close.
            <p/>
            <p>
              When the beloved Princess Francesca is brutally murdered on her watch, Gwen refuses to resume her
              fairy godmother duties. Instead, she laces her docs and hits the streets of Boston in search of the
              bastard who took Frankie from her, a serial killer who operates in lunar cycles. But Gwen’s magic is on
              the fritz, and bodies are piling up.
            </p>

            <p>
              Gwen enlists the talents of Chessa Moon, an upbeat pixie crime blogger who will do anything for a scoop.
              Together, they open new leads as they race against the hunter’s moon. As the killer hits closer and
              closer to home, Gwen is forced to confront her past and nail the killer, or she’ll lose more than just
              her shot at vengeance—she’ll lose the only person in her life worth a damn.
            </p>

            <blockquote>
              “FAIRY GODMURDER comes along and knocks you on your ass with a world that lures you in and keeps you there. Sarah Sover puts the fae in fatal!”
              James R. Tuck- <i>The Deacon Chalk</i> series
            </blockquote>
            <hr />
            <div>
              <p>
                Purchase FAIRY GODMURDER Now!
              </p>
              <p>
                Preorder your signed hardcover from <a href="https://checkout.square.site/buy/NUEPQPLI5IVWPXTL2JXTWJKR" target="_blank">Falstaff Books</a>
                <br>From or Kindle edition from <a href="https://www.amazon.com/dp/B09S15M55N" target="_blank">Amazon</a>
              </p>
              <hr/>


            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <hr />


      <!-- Project Two -->
      <div class="row">
        <div class="col-md-5">
          <img class="img-responsive" src="/images/DCTB_2.png" alt="" />
        </div>
        <div class="col-md-7">
          <div>
            <h3>DOUBLE-CROSSING THE BRIDGE</h3>
          </div>
          <hr />
          <div>
            <p>
              Rent in New Metta is through the cavern ceiling. When Granu barely survives her first gig teaching
              students who attempt to fillet her for lunch, the baby-eating troll ends up unemployed and facing
              eviction. Granu's only prospect for income is grueling work in the tar pits. That is, until her playboy
              best friend devises a perfect, if suicidal, scheme—a heist!
            </p>

            <p>
              The Covered Bridge, the largest source of income for the city, has New Metta well under hoof. In a week,
              TCB Corporation pulls in enough cash to buy a small country. It's the ideal target, but security is
              top-notch. Granu needs three things to survive this heist: a crew of specialists, impenetrable sun
              protection, and gallons of grog.
            </p>

            <p>There’s just one thing Granu doesn’t plan for—those damn meddling billy goats.</p>
          </div>
          <a href="https://www.goodreads.com/book/show/40693291-double-crossing-the-bridge" target="_blank">
            <img
              src="https://s.gr-assets.com/assets/badge/goodreads-badge-read-reviews-a8508f765fac427f58da8ebf9e89721a.png"
              width="63px"
              alt="logo"
            />
          </a>
          <hr />
          <div>
            <p>
              Purchase DOUBLE-CROSSING THE BRIDGE Now!
            </p>
              From <a href="http://www.parliamenthousepress.com/product-page/double-crossing-the-bridge-by-sarah-j-sover-paperback" target="_blank">Parliament House</a>  
              <br/>From <a href="https://www.amazon.com/dp/B08GST6QFW/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=&sr=" target="_blank">Amazon</a>
          </div>
          <hr />
          <div>
            <p>
                Be sure to<a href="/game"> #BewareTheGoats</a>
            </p>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <hr />
      <!-- Project Three -->
      <div class="row">
        <div class="col-md-5">
          <img class="img-responsive" src="/images/Anthology.png" alt="" />
        </div>
        <div class="col-md-7">
          <div>
            <h3>You Want Stories? <small>The JordanCon 2019 Anthology</small></h3>
          </div>
          <hr />
          <div>
            <p>
              For over a decade, JordanCon has been a place where writers of all calibers, interests, and walks of life
              have come together to share their love of the craft. To honor that, we have collected stories that span
              science fiction and fantasy from past guests of honor, notable guests, and attendees and put them together
              in this limited edition anthology, available for sale exclusively at JordanCon. Proceeds of the sales will
              go towards the JordanCon Charity.
            </p>
            <p>
                Included short story <b><i>A Faerie Tale</i></b>, by Sarah J. Sover, is a dark spin on classic lore that reminds us that the fae aren't to be taken lightly.

            </p>
            <p>
              <h6>Included stories by</h6>
              Terry Beyer, Foster Bridget Cassidy, David B. Coe, Blue Cole, Gerald L. Coleman, Milton J Davis, Jason Denzel, P. Andrew Floyd, Charles E Gannon, John G. Hartness, Alexandra Hill, Robert A. Hilliard, Jr, Faith Hunter, David Alan Jones, Tim Lewis, Seanan McGuire, Jana Oliver, Brandon Sanderson, Morgan Smith, and Sarah J. Sover.
            </p>
          </div>
          <hr />
        </div>
      </div>
      <!-- /.row -->
      <hr />
      <!-- Project Four -->
      <div class="row">
        <div class="col-md-5">
          <img class="img-responsive" src="/images/Become-Legend-Cover_2.jpg" alt="" />
        </div>
        <div class="col-md-7">
          <div>
            <h3>Become Legend <small>The JordanCon 2020 Anthology</small></h3>
          </div>
          <hr />
          <div>
            <p>
              Become Legend: The JordanCon 2020 Anthology is now available for pre-sale. This collection contains 20
              short stories all in some way addressing the theme of “Legends”, with stories from both guests and
              attendees of JordanCon. All proceeds of this Anthology will go towards supporting JordanCon’s 2020
              charity, and copies ordered here can be picked up at the Charity Events room anytime during the convention.
            </p>
            <p>
              Included short story <b><i>The Legendary Lord Redfield The Reaper</i></b>, by Sarah J. Sover, is the MontyPython-esque tale of Dougal, a neer-do-well who bumbles his way to infamy.

            </p>
            <p>
            <h6>Included stories by</h6>
            Terry A. Beyer, Sara T. Bond, Paige L. Christie, Amy DuBoff, P. Andrew Floyd, Clint Hall, Saki Marie Harp, Faith Hunter, David Alan Jones, Darin Kennedy, Nicole Kurtz, Ross Newberry, Raine Palmer, Carl Sailor, Morgan Smith, Sarah J. Sover, Vincent E.M. Thorn, Paige Vest, Rosemary Williams, Rebecca Wynick
            </p>
          </div>
          <a href="https://www.jordancon.org/product/become-legend-the-jordancon-2021-anthology/" target="_blank">Link to purchase</a>
          <hr />
        </div>
      </div>
      <footer>
        <%- footer %>
      </footer>
    </div>
    <!-- /.container -->
    <!-- include sign up modal from components folder    -->
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/googleAnlytics.js"></script>
  </body>
</html>
