<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers.">
    <meta name="author" content="Studio SJS">
    <meta property="og:image" content="http://www.sarahjsover.com/images/DCTB_OG.png">
    <meta property="og:url" content="http://www.sarahjsover.com" />
    <meta property="og:site_name" content="Sarah J Sover" />
    <meta property="og:title" content="Website of author Sarah J. Sover" />
    <meta property="og:description" content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers."/>

    <title>Sarah J Sover</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/title.png" />
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us20.list-manage.com","uuid":"d140b1f858977733bdf365b73","lid":"a731a307ee","uniqueMethods":true}) })</script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <%- nav %>
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header Image-->
    <div id="wrapperHeader">
        <div id="header">
            <img src="/images/header.png" alt="logo" />
        </div>
    </div>
    <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                </h1>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default" style="background-color: #f5f5f5; border-color: #ddd;" role="alert">
                <div class="panel-body">
                        Welcome to my little slice of the internet! I'm a writer of fantasy novels that cross genre boundaries in various ways, frequently
                        with a comedic flair. I love playing with threads of connection and juxtaposing serious elements
                        with absurd or unexpected ones. My ultimate goal is to create a tiny bright spot in somebody's
                        world!
                </div>
            </div>
        </div>
        <!-- First row of panels -->
        <div class="row">
            <!-- book panel -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <a href="/books">
                                <i class="fa fa-fw fa-book"></i> Books</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <a href="/books">
                            <img class="img-responsive img-hover" src="/images/FGM.jpg" alt="">
                        </a>
                        <span>
                            <h3>FAIRY GODMURDER
                                <a href="https://www.amazon.com/dp/B09S15M55N" target="_blank">
                                    <img src="/images/Amazon-preorder.png" width="63px"
                                        alt="logo" />
                                </a>
                                <a href="https://www.goodreads.com/book/show/60117407-fairy-godmurder" target="_blank">
                                    <img src="https://s.gr-assets.com/assets/badge/goodreads-badge-read-reviews-a8508f765fac427f58da8ebf9e89721a.png" width="63px"
                                        alt="logo" />
                                </a>
                            </h3>
						</span>
                        <p>
                            A fairy godmother with a vendetta and a killer pair of docs hunts down the bastard who
                            slaughtered her first princess.
                        </p>
                        <p>
                            Preorder your signed hardcover from <a href="https://checkout.square.site/buy/NUEPQPLI5IVWPXTL2JXTWJKR" target="_blank">Falstaff Books</a>
                        </p>
                        <a href="/books" class="btn btn-default">Read More</a>
                    </div>
                </div>
            </div>
            <!-- Upcoming Appearances panel -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <i class="fa fa-fw fa-globe"></i> Upcoming Appearances
                        </h3>
                    </div>
                    <div class="panel-body" style="margin-top: 60px; margin-bottom: 160px;">
                        <b>April 22<sup>nd</sup>-24<sup>th</sup> 2022 JordanCon</b><br>
                        <a href="https://www.jordancon.org/">https://www.jordancon.org</a>
                        <hr>
                        <b>May 13<sup>th</sup> - 15<sup>th</sup> 2022 AtomaCon</b><br>
                        Guest<br>
                        <a href="http://atomacon.org/">http://atomacon.org</a>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <i class="fa fa-fw fa-paw"></i> Gandalf the Grey
                        </h3>
                    </div>
                    <div class="panel-body" style="margin-top: 60px; margin-bottom: 60px;">
                        <div id="gtg-carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive img-hover" src="/images/gtg/gtg_3.jpeg" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive img-hover" src="/images/gtg/gtg_1.jpeg" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive img-hover" src="/images/gtg/gtg_2.jpeg" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive img-hover" src="/images/gtg/gtg_4.jpeg" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive img-hover" src="/images/gtg/gtg_5.jpeg" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive img-hover" src="/images/gtg/gtg_6.jpeg" alt="">
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#gtg-carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#gtg-carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
                <!-- links panel -->
                <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <i class="fa fa-fw fa-paperclip"></i> Guest Blogs, Interviews, and Links
                        </h3>
                    </div>
                    <div class="panel-body" style="margin-top: 60px; margin-bottom: 60px;">
<!--                        <a href="http://www.rafflecopter.com/rafl/display/db288f212/"  rel="nofollow" data-raflid="db288f212" data-theme="classic" data-template="" id="rcwidget_dy8u7j7l" target="_blank"><img class="img-responsive img-hover" src="/images/giveaway.png" alt="enter the giveaway" width="80%"></a>-->
<!--                        <hr>-->
                        <a href="https://linktr.ee/SarahJ.Sover" target="_blank">Linktree</a>
                        <hr>
                        Writer's Digest: <a href="https://www.writersdigest.com/online-editor/why-writers-should-embrace-their-weird-side" target="_blank">Why Writers Should Embrace Their Weird Side</a>
                        <hr>
                        Women Writers, Women's Books: <a href="http://booksbywomen.org/writing-like-raising-the-dead-by-sarah-j-sover/" target="_blank">Writing Like Raising The Dead</a>
                        <hr>
                        The Parliament House: <a href="http://www.parliamenthousepress.com/single-post/2018/12/05/Writing-While-the-World-Burns?fbclid=IwAR02KpuLAib8KkiOJoQ1bzSWbrtzWrBdejYo29LNGJsPL2J46MrMZYO9HQM" target="_blank">Writing While the World Burns</a>
                        <hr>
                        <a href="http://www.blog.halon-chronicles.com/winterview-author-sarah-j-sover/" target="_blank">Winterview with K.J. Harrowick</a>
                        <hr>
                        <h3>Virtual Panels</h3>
                        <b>Monsterama</b> 2020 may be over, but you can still catch all the virtual panels!  available <a href="https://info869189.wixsite.com/virtualmonsterama/program">here</a><br>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <%- footer%>
        </footer>
    </div>
    <!-- /.container -->

    <!-- include sign up modal from components folder    -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/twitter.js"></script>

    <script src="/js/googleAnlytics.js"></script>
</body>

</html>