<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers.">
    <meta name="author" content="Studio SJS">
    <meta property="og:image" content="http://www.sarahjsover.com/images/DCTB_OG.png">
    <meta property="og:url" content="http://www.sarahjsover.com" />
    <meta property="og:site_name" content="Sarah J Sover" />
    <meta property="og:title" content="Website of author Sarah J. Sover" />
    <meta property="og:description" content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers."/>

    <title>Sarah J Sover</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/title.png" />
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us20.list-manage.com","uuid":"d140b1f858977733bdf365b73","lid":"a731a307ee","uniqueMethods":true}) })</script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <%- nav %>
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header Image-->
    <div id="wrapperHeader">
        <div id="header">
            <img src="/images/header.jpg" alt="logo" />
        </div>
    </div>
    <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                </h1>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default" style="background-color: #f5f5f5; border-color: #ddd;" role="alert">
                <div class="panel-body">
                        Welcome to my little slice of the internet! I'm a writer of fantasy novels that cross genre boundaries in various ways, frequently
                        with a comedic flair. I love playing with threads of connection and juxtaposing serious elements
                        with absurd or unexpected ones. My ultimate goal is to create a tiny bright spot in somebody's
                        world!
                </div>
            </div>
        </div>
        <!-- First row of panels -->
        <div class="row">
            <!-- book panel -->
            <div class="col-md-4"> 
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="/books">
                                <i class="fa fa-fw fa-book"></i> Books</a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <a href="/books">
                            <img class="img-responsive img-hover" src="/images/DCTB.png" alt="">
                        </a>
                        <p>
                            <h3>DOUBLE-CROSSING THE BRIDGE
                                <a href="https://www.amazon.com/Double-Crossing-Bridge-Sarah-J-Sover-ebook/dp/B07T6ZNR5N" target="_blank">
                                    <img src="/images/Amazon-preorder.png" width="63px"
                                        alt="logo" />
                                </a>
                                <a href="https://www.goodreads.com/book/show/40693291-double-crossing-the-bridge" target="_blank">
                                    <img src="https://s.gr-assets.com/assets/badge/goodreads-badge-read-reviews-a8508f765fac427f58da8ebf9e89721a.png" width="63px"
                                        alt="logo" />
                                </a>
                            </h3>
                            Rent in New Metta is through the cavern ceiling. When Granu barely survives her first gig teaching students who attempt to
                            fillet her for lunch, the baby-eating troll ends up unemployed and facing eviction. Granu's only
                            prospect for income is grueling work in the tar pits. That is, ...
                        </p>
                        <a href="/books" class="btn btn-default">Read More</a>
                    </div>
                </div>
            </div>
            <!-- Appearances panel -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-fw fa-globe"></i> Appearances
                        </h4>
                    </div>
                    <div class="panel-body" style="margin-top: 60px; margin-bottom: 160px;">
                        <b>August 31st-September 1st Decatur Book Festival, Decatur, GA</b><br>
                            Stay tuned for details regarding my exclusive release event and come visit the Parliament House tent! <a href="https://www.decaturbookfestival.com/">https://www.decaturbookfestival.com/</a>
                        <hr>        
                        <b>September 27th-29th Monsterama, Alpharetta, GA</b><br>
                            Come heckle me as I serve as a panelist talking monsters in the fantasy genre at this creeptastic horror convention! <a href="http://www.monsteramacon.com/">http://www.monsteramacon.com/</a>
                        <hr>
                        <b>2-29-2019 Penned Charleston Book Signing</b>
                    </div>
                </div>

            </div>
                <!-- links panel -->
                <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-fw fa-paperclip"></i> Guest Blogs, Interviews, and Links
                        </h4>
                    </div>
                    <div class="panel-body" style="margin-top: 60px; margin-bottom: 160px;">
                        <a href="http://www.rafflecopter.com/rafl/display/db288f212/"  rel="nofollow" data-raflid="db288f212" data-theme="classic" data-template="" id="rcwidget_dy8u7j7l" target="_blank"><img class="img-responsive img-hover" src="/images/giveaway.png" alt="enter the giveaway" width="80%"></a>
                        <hr>
                        <a href="https://www.writersdigest.com/online-editor/why-writers-should-embrace-their-weird-side" target="_blank">Why Writers Should Embrace Their Weird Side</a>
                        <hr>
                        <a href="http://booksbywomen.org/writing-like-raising-the-dead-by-sarah-j-sover/" target="_blank">Writing Like Raising The Dead for Women Writers, Women's Books</a>
                        <hr>
                        <a href="http://www.parliamenthousepress.com/single-post/2018/12/05/Writing-While-the-World-Burns?fbclid=IwAR02KpuLAib8KkiOJoQ1bzSWbrtzWrBdejYo29LNGJsPL2J46MrMZYO9HQM" target="_blank">Writing While the World Burns for The Parliament House</a>
                        <hr>
                        <a href="http://www.blog.halon-chronicles.com/winterview-author-sarah-j-sover/" target="_blank">Winterview with K.J. Harrowick</a>
                        <hr>        
                        <a href="http://www.authorsforfamilies.org/" target="_blank">Authors For Families</a>    
                    </div>
                </div>
            </div>
        </div>
        
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <%- footer%>
        </footer>
    </div>
    <!-- /.container -->

    <!-- include sign up modal from components folder    -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/twitter.js"></script>

    <script src="/js/googleAnlytics.js"></script>
</body>

</html>