<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sarah J. Sover | Double-Crossing the Bridge</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- SEO tags -->
    <meta name="description"
          content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers.">
    <meta name="author" content="Studio SJS">
    <meta property="og:image" content="http://www.sarahjsover.com/images/DCTB_3.png">
    <meta property="og:url" content="http://www.sarahjsover.com"/>
    <meta property="og:site_name" content="Sarah J Sover"/>
    <meta property="og:title" content="Website of author Sarah J. Sover"/>
    <meta property="og:description"
          content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers."/>
    <!-- includes -->
    <script src="/js/jquery_3_2_1.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/montserrat.css">
    <link rel="stylesheet" media="screen" href="/css/style.css"/>
</head>
<body>
<%- include("../components/header.ejs", { page_name: "books", page_url:'/'}); %>
<main id="dctb">
    <section class="about">
        <div class="card-one">
            <h1>&nbsp;</h1>
            <div class="cardtext">
                <img src="../images/DCTB_3.png" alt="Fairy Godmurder" title="Fairy Godmurder" border="0" width="100%"/>
            </div>
        </div>
        <div class="card-two"><h1>DOUBLE-CROSSING THE BRIDGE</h1>
            <div class="cardtext">
                <p>Rent in New Metta is through the cavern ceiling. When Granu barely survives her first gig teaching
                    students who attempt to fillet her for lunch, the baby-eating troll ends up unemployed and facing
                    eviction. Granu's only prospect for income is grueling work in the tar pits. That is, until her
                    playboy best friend devises a perfect, if suicidal, scheme—a heist!</p>
                <p>The Covered Bridge, the largest source of income for the city, has New Metta well under hoof. In a
                    week, TCB Corporation pulls in enough cash to buy a small country. It's the ideal target, but
                    security is top-notch. Granu needs three things to survive this heist: a crew of specialists,
                    impenetrable sun protection, and gallons of grog.</p>
                <p>There’s just one thing Granu doesn’t plan for—those damn meddling billy goats.</p>
                <hr/>
                <blockquote><span>"Sover’s ability to gross out readers is nothing short of gleeful…Comedy-fantasy fans with strong stomachs will enjoy this book."</span><br/>–
                    Kirkus Reviews
                </blockquote>
                <blockquote><span>"A skillful blend of traditional heist, absurdist fantasy, and satirical takes on modern society."</span><br/>-
                    Dan Stout, author of <span>Titanshade</span></blockquote>
                <hr/>
                <div class="buttons">
                    <ul>
                        <li><a href="#" target="_blank">
                                <button>Purchase Signed Paperback</button>
                            </a></li>
                        <li><a href="https://readerlinks.com/l/2692897" target="_blank">
                                <button>Buy on Amazon</button>
                            </a></li>
                        <li><a href="https://www.goodreads.com/book/show/40693291-double-crossing-the-bridge"
                               target="_blank">
                                <button>Add to Goodreads Shelf</button>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
<%- include("../components/footer.ejs"); %>
</body>
<footer>
    <script type="text/javascript" src="/js/script.js"></script>
</footer>
</html>