<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sarah J. Sover | Fractured Fae Series</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- SEO tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers.">
    <meta name="author" content="Studio SJS">
    <meta property="og:image" content="http://www.sarahjsover.com/images/DCTB_3.png">
    <meta property="og:url" content="http://www.sarahjsover.com"/>
    <meta property="og:site_name" content="Sarah J Sover"/>
    <meta property="og:title" content="Website of author Sarah J. Sover"/>
    <meta property="og:description"
          content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers."/>
    <!-- includes -->
    <script src="/js/jquery_3_2_1.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/montserrat.css">
    <link rel="stylesheet" media="screen" href="/css/style.css"/>
</head>
<body>
<%- include("../components/header.ejs", { page_name: "home", page_url:'/'}); %>
<main id="ffs">
    <section class="about">
        <div class="card-one">
            <h1>&nbsp;</h1>
            <div class="cardtext">
                <img src="../images/FGM.jpg" alt="Fairy Godmurder" title="Fairy Godmurder" border="0" width="100%"/>
            </div>
        </div>
        <div class="card-two"><h1>FAIRY GODMURDER</h1>
            <div class="cardtext">
                <p> Gwendolyn Evenshine thought being a fairy godmother would be cut and dried—take on a charge, solve a
                    royal problem, and return to the Academy for her next assignment. But she got too close.</p>
                <p>When the beloved Princess Francesca is brutally murdered on her watch, Gwen refuses to resume her
                    fairy godmother duties. Instead, she laces her docs and hits the streets of Boston in search of the
                    bastard who took Frankie from her, a serial killer who operates in lunar cycles. But Gwen’s magic is
                    on the fritz, and bodies are piling up. </p>
                <p>Gwen enlists the talents of Chessa Moon, an upbeat pixie crime blogger who will do anything for a
                    scoop. Together, they open new leads as they race against the hunter’s moon. As the killer hits
                    closer and closer to home, Gwen is forced to confront her past and nail the killer, or she’ll lose
                    more than just her shot at vengeance—she’ll lose the only person in her life worth a damn.</p>
                <hr/>
                <blockquote><span>"FAIRY GODMURDER comes along and knocks you on your ass with a world that lures you in and keeps you there. Sarah Sover puts the fae in fatal!"</span><br/>–
                    James R. Tuck, author of <span>The Deacon Chalk</span> series
                </blockquote>
                <hr/>
                <div class="buttons">
                    <ul>
                        <li><a href="https://www.read-it-again.com/sarah-j-sovers-author-page" target="_blank">
                                <button>Purchase Signed Paperback</button>
                            </a></li>
                        <li><a href="https://www.amazon.com/dp/B09S15M55N" target="_blank">
                                <button>Buy on Amazon</button>
                            </a></li>
                        <li><a href="https://www.goodreads.com/book/show/60117407-fairy-godmurder" target="_blank">
                                <button>Add to Goodreads Shelf</button>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="media" id="mediakit" name="mediakit">
        <div class="card-two"><h1>EAGLE-EYE SAMMY</h1>
            <div class="cardtext">
                <p>Junior Detective Samson Wayne is a griffin trying to make his way in the Korranthian Police
                    Department, a department not so welcoming to his kind. When a murdered gnome is discovered in Boston
                    Harbor, Samson smells more than dead fish in the water. He'll have to discover what evils, mortal or
                    fae, are afoot and keep his feathers clean in the process.</p>
                <p>Eagle-Eye Sammy is a short story in the Fractured Fae universe, and it gets to the heart of our
                    favorite not-so-hardboiled griffin detective. For more Samson Wayne, pick up Fairy Godmurder,
                    Fractured Fae #1.</p>
                <hr/>
                <div class="buttons">
                    <ul>
                        <li><a href="https://www.amazon.com/Eagle-Eye-Sammy-Fractured-Short-Story-ebook/dp/B0BJRW6P82/"
                               target="_blank">
                                <button>Buy on Amazon</button>
                            </a></li>
                        <li><a href="https://www.goodreads.com/book/show/64644031-eagle-eye-sammy" target="_blank">
                                <button>Add to Goodreads Shelf</button>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-one">
            <h1>&nbsp;</h1>
            <div class="cardtext">
                <img src="../images/eagleeyesammy.png" alt="Eagle-Eye Sammy by Sarah J. Sover"
                     title="Eagle-Eye Sammy by Sarah J. Sover" border="0" width="100%"/>
            </div>
        </div>
    </section>
</main>
<%- include("../components/footer.ejs"); %>
</body>
<footer>
    <script type="text/javascript" src="/js/script.js"></script>
</footer>
</html>
