<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sarah J. Sover | Putting the Fact in Fantasy</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- SEO tags -->
    <meta
      name="description"
      content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers."
    />
    <meta name="author" content="Studio SJS" />
    <meta
      property="og:image"
      content="http://www.sarahjsover.com/images/DCTB_3.png"
    />
    <meta property="og:url" content="http://www.sarahjsover.com" />
    <meta property="og:site_name" content="Sarah J Sover" />
    <meta property="og:title" content="Website of author Sarah J. Sover" />
    <meta
      property="og:description"
      content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers."
    />
    <!-- includes -->
    <script src="/js/jquery_3_2_1.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/montserrat.css" />
    <link rel="stylesheet" media="screen" href="/css/style.css" />
  </head>
  <body>
    <%- include("../components/header.ejs", { page_name: "books",
    page_url:'/'}); %>
    <main id="ptfif">
      <section class="about">
        <div class="card-one" id="Reflections">
          <h1>&nbsp;</h1>
          <div class="cardtext">
            <img
              src="../images/reflections_anthology.jpg"
              alt="Reflections"
              title="Reflections"
              border="0"
              width="100%"
            />
          </div>
        </div>
        <div class="card-two">
          <h1>REFLECTIONS</h1>
          <div class="cardtext">
            <p>
              Gold Dust Publishing brings you Reflections. A charity book
              featuring over forty authors, actors, musicians, entertainers,
              teachers, counselors, and everyday people who look back to tell a
              younger version of themselves what their past has taught them.
              Each one shares how they endured a variety of situations from
              verbal and physical abuse, fear, suicide, rape, and change to
              become the best versions of themselves. The Goal? Not to toot
              their own horns, but to help those who are in similar situations.
              To show that there can be light at the end of a narrow tunnel, and
              to let those afflicted know that they are not alone. Each of these
              contributors come from all walks of life - Gay, Lesbian, Bisexual,
              Transgender, and even our straight allies - and give hope that you
              too can make it through the things that are afflicting you. A lot
              can be learned from taking a glimpse at the past. Looking back
              reminds us of where we were, how far we've come, the things we
              needed to change, the things we didn't. But most importantly, the
              blood, sweat, and tears it took us to get here.
            </p>
            <hr />
            <div class="buttons">
              <ul>
                <li>
                  <a
                    href="https://www.amazon.com/Reflections-Jason-Roach/dp/B0CKD4V6L6"
                    target="_blank"
                  >
                    <button>Buy on Amazon</button>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.goodreads.com/book/show/199444490-reflections"
                    target="_blank"
                  >
                    <button>Add to Goodreads Shelf</button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="media" id="mediakit" name="mediakit">
        <div class="card-two">
          <h1>PUTTING THE FACT IN FANTASY</h1>
          <div class="cardtext">
            <p>
              Sarah is a contributor to: Putting the Fact in Fantasy, a
              collection of essays from historians, linguists, martial artists,
              and other experts to help you write more compelling fantasy by
              getting the facts right.
            </p>
            <p>
              Whether it’s correctly naming the parts of a horse, knowing how
              lords and ladies address one another, or building a realistic
              fantasy army, getting the details right takes fantasy writing to
              the next level. Featuring some of the most popular articles from
              Dan Koboldt’s Fact in Fantasy blog as well as several
              never-before-seen essays, this book gives aspiring and established
              fantasy writers alike an essential foundation to the fascinating
              history and cultures of our own world, which serve as a
              jumping-off point for more inspired and convincing fantasy.
            </p>
            <hr />
            <blockquote>
              <span
                >"This gem of a book is packed with all sorts of great writing
                advice from 34 different authors to help writers build worlds
                that feel realistic. How to have realistic swordfights,
                everything you ever wanted to know about horses, all the ways
                that food can enhance the world you are creating...and so much
                more. This is a must-have for your writing library."</span
              ><br />– Crystal King, author of <span>Feast of Sorrow</span>
            </blockquote>
            <hr />
            <div class="buttons">
              <ul>
                <li>
                  <a
                    href="https://www.amazon.com/Putting-Fact-Fantasy-Authenticity-Writing/dp/0593331990"
                    target="_blank"
                  >
                    <button>Buy on Amazon</button>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.goodreads.com/book/show/58735039-putting-the-fact-in-fantasy"
                    target="_blank"
                  >
                    <button>Add to Goodreads Shelf</button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-one" id="PuttingTheFactInFantasy">
          <h1>&nbsp;</h1>
          <div class="cardtext">
            <img
              src="../images/puttingthefactinfantasy.jpg"
              alt="Putting the Fact in Fantasy"
              title="Putting the Fact in Fantasy"
              border="0"
              width="100%"
            />
          </div>
        </div>
      </section>
    </main>
    <%- include("../components/footer.ejs"); %>
  </body>
  <footer>
    <script type="text/javascript" src="/js/script.js"></script>
  </footer>
</html>
