<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sarah J. Sover | Jordancon Anthologies</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- SEO tags -->
    <meta
      name="description"
      content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers."
    />
    <meta name="author" content="Studio SJS" />
    <meta
      property="og:image"
      content="http://www.sarahjsover.com/images/DCTB_3.png"
    />
    <meta property="og:url" content="http://www.sarahjsover.com" />
    <meta property="og:site_name" content="Sarah J Sover" />
    <meta property="og:title" content="Website of author Sarah J. Sover" />
    <meta
      property="og:description"
      content="Website of Sarah J. Sover, author of fantasy novels, reader of books, and creator of mystical realms filled with imaginary creatures with magical powers."
    />
    <!-- includes -->
    <script src="/js/jquery_3_2_1.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/montserrat.css" />
    <link rel="stylesheet" media="screen" href="/css/style.css" />
  </head>
  <body>
    <%- include("../components/header.ejs", { page_name: "books",
    page_url:'/'}); %>
    <main id="ssa">
      <section class="about">
        <div class="card-one" id="HiddenVillainsBetrayed">
          <h1>&nbsp;</h1>
          <div class="cardtext">
            <img
              src="../images/hidden_villains_betrayed.jpg"
              alt="Hidden Villains Betrayed"
              title="Hidden Villains Betrayed"
              border="0"
              width="100%"
            />
          </div>
        </div>
        <div class="card-two">
          <h1>Hidden Villains: Betrayed</h1>
          <div class="cardtext">
            <p>
              Fantasy, Science Fiction, and Speculative Fiction anthology led by
              best-selling author Kevin J. Anderson. A diverse group of authors
              join in with a broad spectrum of genres and styles sure to capture
              your imagination
            </p>
            <p>
              <strong>Featuring Stories By:</strong><br />
              Patrick Dugan, Sarah J. Sover, Tim Lewis, Michael La Ronn, Sara
              Jordan-Heintz, Kevin A Davis, Karen A. Phillips, Rachel Nussbaum,
              JL George, Laura Ruth Loomis, Michele Stuart, Kareem Miskel, Mike
              Jack Stoumbos, Madelyn Lopez
            </p>
            <hr />
            <div class="buttons">
              <ul>
                <li>
                  <a
                    href="https://www.barnesandnoble.com/w/hidden-villains-kevin-j-anderson/1145164626?ean=9798224185702"
                    target="_blank"
                  >
                    <button>Buy on Barnes & Noble</button>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.goodreads.com/book/show/210284469-hidden-villains"
                    target="_blank"
                  >
                    <button>Add to Goodreads Shelf</button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="media" id="mediakit" name="mediakit">
        <div class="card-one" id="NeitherBeginningsNorEndings">
          <h1>&nbsp;</h1>
          <div class="cardtext">
            <img
              src="../images/neitherbeginningsnorendings.png"
              alt="Neither Beginnings Nor Endings"
              title="Neither Beginnings Nor Endings"
              border="0"
              width="100%"
            />
          </div>
        </div>
        <div class="card-two">
          <h1>NEITHER BEGINNINGS NOR ENDINGS</h1>
          <div class="cardtext">
            <p>
              <em
                >The JordanCon 2022 Anthology: Neither Beginnings Nor
                Endings</em
              >, has evolved and now features not only great short stories but
              also artwork from our talented group of JordanCon members and
              guests. All proceeds of this Anthology will go towards supporting
              JordanCon's 2021 charity, and copies ordered here can be picked up
              at the Charity Events room anytime during the convention.
            </p>
            <p>
              <strong>Featuring Stories By:</strong><br />
              Marie Brennan, Paige L. Christie, Gerald L. Coleman, R. A. Col贸n,
              Kevin A Davis, Joe Kielbowicz, Tim Lewis, Katharine Reid, Sarah J.
              Sover, and Rosemary Williams
            </p>
            <p>
              <strong>Featuring Art By:</strong><br />
              Michael Bielaczyc, Paul Bielaczyc, Ariel Burgess, Amanda Carman,
              Melissa Gay, Debbie Hughes, Kelly Keuneke, Amanda Makepeace, Amy
              N. Romanczuk, and Charles Urbach
            </p>
            <hr />
            <div class="buttons">
              <ul>
                <li>
                  <a
                    href="https://www.amazon.com/gp/product/B09YD9CBZ5/"
                    target="_blank"
                  >
                    <button>Buy on Amazon</button>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.goodreads.com/book/show/61034993-neither-beginnings-nor-endings"
                    target="_blank"
                  >
                    <button>Add to Goodreads Shelf</button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="about">
        <div class="card-two" id="becomeLegend">
          <h1>BECOME LEGEND</h1>
          <div class="cardtext">
            <p>
              <em>Become Legend: The JordanCon 2020 Anthology</em> is now
              available for pre-sale. This collection contains 20 short stories
              all in some way addressing the theme of “Legends”, with stories
              from both guests and attendees of JordanCon. All proceeds of this
              Anthology will go towards supporting JordanCon’s 2020 charity, and
              copies ordered here can be picked up at the Charity Events room
              anytime during the convention.
            </p>
            <p>
              <strong>Included short story:</strong><br />
              <em>The Legendary Lord Redfield The Reaper</em>, by Sarah J.
              Sover, is the MontyPython-esque tale of Dougal, a neer-do-well who
              bumbles his way to infamy.
            </p>
            <p>
              <strong>Included stories by:</strong><br />
              Terry A. Beyer, Sara T. Bond, Paige L. Christie, Amy DuBoff, P.
              Andrew Floyd, Clint Hall, Saki Marie Harp, Faith Hunter, David
              Alan Jones, Darin Kennedy, Nicole Kurtz, Ross Newberry, Raine
              Palmer, Carl Sailor, Morgan Smith, Sarah J. Sover, Vincent E.M.
              Thorn, Paige Vest, Rosemary Williams, Rebecca Wynick
            </p>
            <hr />
            <div class="buttons">
              <ul>
                <li>
                  <a
                    href="https://www.amazon.com/Become-Legend-JordanCon-2021-Anthology/dp/B097649TN8/"
                    target="_blank"
                  >
                    <button>Buy on Amazon</button>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.goodreads.com/book/show/58475693-become-legend"
                    target="_blank"
                  >
                    <button>Add to Goodreads Shelf</button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-one">
          <h1>&nbsp;</h1>
          <div class="cardtext">
            <img
              src="../images/becomelegend.jpg"
              alt="Become Legend"
              title="Become Legend"
              border="0"
              width="100%"
            />
          </div>
        </div>
      </section>
      <section class="media" id="mediakit" name="mediakit">
        <div class="card-one" id="youWantStories">
          <h1>&nbsp;</h1>
          <div class="cardtext">
            <img
              src="../images/youwantstories.jpg"
              alt="You Want Stories?"
              title="You Want Stories?"
              border="0"
              width="100%"
            />
          </div>
        </div>
        <div class="card-two">
          <h1>YOU WANT STORIES?</h1>
          <div class="cardtext">
            <p>
              For over a decade, JordanCon has been a place where writers of all
              calibers, interests, and walks of life have come together to share
              their love of the craft. To honor that, we have collected stories
              that span science fiction and fantasy from past guests of honor,
              notable guests, and attendees and put them together in this
              limited edition anthology, available for sale exclusively at
              JordanCon. Proceeds of the sales will go towards the JordanCon
              Charity.
            </p>
            <p>
              <strong>Included short story:</strong><br />
              <em>A Faerie Tale</em>, by Sarah J. Sover, is a dark spin on
              classic lore that reminds us that the fae aren't to be taken
              lightly..
            </p>
            <p>
              <strong>Included stories by:</strong><br />
              Terry Beyer, Foster Bridget Cassidy, David B. Coe, Blue Cole,
              Gerald L. Coleman, Milton J Davis, Jason Denzel, P. Andrew Floyd,
              Charles E Gannon, John G. Hartness, Alexandra Hill, Robert A.
              Hilliard, Jr, Faith Hunter, David Alan Jones, Tim Lewis, Seanan
              McGuire, Jana Oliver, Brandon Sanderson, Morgan Smith, and Sarah
              J. Sover
            </p>
            <hr />
            <div class="buttons">
              <ul>
                <li>
                  <a
                    href="https://www.goodreads.com/book/show/45837677-you-want-stories"
                    target="_blank"
                  >
                    <button>Add to Goodreads Shelf</button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include("../components/footer.ejs"); %>
  </body>
  <footer>
    <script type="text/javascript" src="/js/script.js"></script>
  </footer>
</html>
