<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/"> <i class="fa fa-home"></i> Home</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="/author">Author</a>
    </li>
    <li>
      <a href="/books">Books</a>
    </li>
    <li>
      <a href="/mailing-list">MailingList</a>
    </li>
    <li>
        <a href="/media-kit">MediaKit</a>
      </li>
    <li>
      <a href="/game">#BewareTheGoats</a>
    </li>
    <li>
      <a href="https://twitter.com/SarahJSover" target="_blank">
        <img src="/images/SJS_twitter.png" width="23px" alt="logo" />
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/SarahJSover" target="_blank">
        <img src="/images/SJS_facebook.png" width="23px" alt="logo" />
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/sarahjsover/" target="_blank">
        <img src="/images/SJS_instagram.png" width="23px" alt="logo" />
      </a>
    </li>
    <li>
      <a href="https://www.goodreads.com/author/show/18168726.Sarah_J_Sover" target="_blank">
        <img
          src="https://s.gr-assets.com/assets/icons/goodreads_icon_50x50-823139ec9dc84278d3863007486ae0ac.png"
          width="23px"
          alt="logo"
        />
      </a>
    </li>
  </ul>
</div>
<!-- /.navbar-collapse -->
