<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Subscribe to blog<span class="pull-right"><h6><small><a href="/subscription/unsubscribeForm">unsubscribe</a></small></h6></span></h2>
            </div>
            <div class="modal-body">
                <form id="blogSubscription" name="blogSubscription" action="/subscription/signup" method="post">
                    <div id="subscriberInput" class="input-group">
                        <label for="name_input" class="sr-only">Full Name</label>
                        <input id="name_input" name="name_input" class="form-control" placeholder="Full Name" />

                        <label for="email_input" class="sr-only">Email Address</label>
                        <input id="email_input" name="email_input" class="form-control" placeholder="Email Address" />
                    </div>
                    <div class="input-group pull-right">
                        <input id="submitFormButton" type="submit" value="Sign Up" class="btn btn-primary"></input>
                        <button id="submitFormClose" type="button" class="btn btn-secondary">Close</button>
                    </div>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <div id="signUpSuccess" class="alert alert-success noShow">
                    <strong>You are all signed up!</strong>
                </div>
                <div id="signUpError" class="alert alert-danger noShow">
                    <strong>Error saving info please try again!</strong>
                </div>
            </div>
        </div>
    </div>
</div>