<div class="prefooter">
  <div id="social-platforms"><%- include("./social.ejs"); %></div>
</div>
<footer>
  <p>
    Copyright &copy; <%= new Date().getFullYear();%> SJS Studios & Sarah J.
    Sover
  </p>
  <div class="footer-nav">
    <ul>
      <li class="item"><a href="/">HOME</a></li>
      <li><a href="/author">AUTHOR</a></li>
      <li><a href="/books">BOOKS</a></li>
      <li><a href="/gallery">SHOP</a></li>
      <li><a href="/privacy-policy">PRIVACY POLICY</a></li>
      <li><a href="/author#mediakit">CONTACT</a></li>
    </ul>
  </div>
</footer>
